//Colors
$White: #ffffff;
$Gray: #d0d6f9;
$DarkBlue: #0b0d17;
$BgMenu: #979797;

//RWD
$Desktop: 1440px;
$Tablet: 768px;
$Mobile: 375px;

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
//font-family: "Bellefair", serif;
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
//font-family: 'Barlow', sans-serif;
